@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@font-face {
    font-family: 'pokemon';
    src:url('../fontes/Pokemon\ Hollow.ttf') format('truetype');
    font-weight: normal;
}

:root {
    --color1: #e3350d;
    --color2: #f2f2f2;
    --color3: #323232;
    
    --cor-bug: #729f3f;
    --cor-fairy: #fdb9e9;
    --cor-fire:    #fd7d24; 
    --cor-ground: #ab9842;
    --cor-normal:   #a4acaf;
    --cor-eletric:   #edd435;
    --cor-flying: #3cc6ee;
    --cor-grass: #9bcc50;
    --cor-poison:  #b97fc9; 
    --cor-water:  #4592c4;
   
   
   
    --fonte-padrao: 'Press Start 2P', cursive;
    --fonte-destaque: 'pokemon', sans-serif;
}

body {
    font-family: var(--fonte-padrao);
}

main {
   background-color: var(--color2);
   max-width: 710px;
   min-width: 300px;
   margin: auto;
   
}

main div {
    padding-top: 15px;
    text-align: center;
    max-width: 300px;
    min-width: 150px;
    height: 37px;
}

main img{
    display: block;
    margin: auto;
    width: 30%;
    
}

main ul {
    columns: 2;
    list-style-position: inside;
   
    
}

main li {
    height: 350px;
    border-color: var(--color3);
    border: 10px solid black;
 vertical-align: baseline;
    margin: auto;
}

main p {
    
}

.bug {
    background-color: var(--cor-bug);
    border-radius: 10px;
}

.eletric {
    background-color: var(--cor-eletric);
    border-radius: 10px;
}

.fairy {
    background-color: var(--cor-fairy);
    border-radius: 10px;
}

.fire {
    background-color: var(--cor-fire);
    border-radius: 10px;
}

.flying {
    background-color: var(--cor-flying);
    border-radius: 10px;
}

.grass {
    background-color: var(--cor-grass);
    border-radius: 10px;
}

.ground {
    background-color: var(--cor-ground);
    border-radius: 10px;
}

.normal {
    background-color: var(--cor-normal);
    border-radius: 10px;
}

.poison {
    background-color: var(--cor-poison);
    border-radius: 10px;
}

.water {
    background-color: var(--cor-water);
    border-radius: 10px;
}
