.flex-container{
    display: flex;
    flex-direction:column;
    padding: 7px;
    background-color: #9fdf5e;
}
.flex-items {
    width: 50px;
    background-color: rebeccapurple;
    height: 50px;
    padding: 10px;
    margin: 2px;
    color: white;
    font-size: 3em;
    text-align: center;
}

.flex-container2{
    display: flex;
    flex-direction: column-reverse;
    padding: 7px;
    background-color: #9fdf5e;
}
.flex-container3{
    display: flex;
    flex-direction: row;
    padding: 7px;
    background-color: #9fdf5e;
}
.flex-container4{
    display: flex;
    flex-direction: row-reverse;
    padding: 7px;
    background-color: #9fdf5e;
}